<!-- <h2>Import Keywords</h2> -->
<%#= form_tag keywords_path, multipart: true do %>
  <%#= file_field_tag :file %>
  <%#= submit_tag "Import" %>
<%# end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= form_tag select_date_path, :method => 'get', multipart: true do %>
        <div class="col-md-3">
          <div class="form-group">
            <label>Start Date</label>
            <%= text_field_tag 'search[from]', (params[:search][:from] rescue ''), :class=>"form-control", :id=>"datepicker-until" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Until Date</label>
            <%= text_field_tag 'search[to]', (params[:search][:to] rescue ''), :class=>"form-control", :id=>"datepicker-start" %>
          </div>
        </div>
        <div class="col-md-3">
        	<div class="form-group">
        		<label></label>
	          <%= submit_tag "Search", :name => nil, :class=>"form-control" %>
	        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>